      <div class="col-md-6">
        <table class="table cart-list">
          <tr><td colspan="2"><%= @product.title %></td></tr>
          <tr>
            <td width='30%'>
              <img src="/<%= @product.title %>.jpg"  width="100px" height="100px" />
            </td>
            <td width='70%'>
              <p>单价: <%= @product.price %> </p>

              <p>
              数量: 
              <span class='quantity'>
                <a rel="nofollow" href="#" class="increase-quantity" data-id='<%= @cart_item.id %>'>-</a>
                <span class='quantity-<%= @cart_item.id %>'><%= @cart_item.quantity %></span>
                <a rel="nofollow" href="#" class="decrease-quantity" data-id='<%= @cart_item.id %>'>+</a>
              </span>
              </p>

              <p>总价: <span id='item-amount-<%= @cart_item.id %>'><%= @cart_item.amount %></span></p>

              <p>
                <a class="btn btn-default" href="<%= @payment_url %>">
                  支付
                </a>
              </p>

            </td>
          </tr>
        </table>
      </div>
