    <% 
      cart.cart_items.each do |item| 
        product = item.sellable
        if product.nil?
          product = IoStore::Product.with_deleted.find(item.sellable_id)
        end

        next if product.nil?
    %>
      <div class="col-md-6 cart-item-<%= item.id %>">
        <input type="checkbox" name="items[]" class="selected" value="<%= item.id %>" />
        <%= product.title %>
        <table class="table cart-list">
          <tr>
            <td width='30%'>
              <%= image_tag product.pic.url(:small) %>
            </td>
            <td width='70%'>
              <% if product.deleted? %>
              <p>该商品已经下架</p>
              <% else %>
              <p>单价: <%= product.price %> </p>
              <p>
              数量: 
              <span class='quantity'>
                <a rel="nofollow" href="#" class="increase-quantity" data-id='<%= item.id %>'>-</a>
                <span class='quantity-<%= item.id %>'><%= item.quantity %></span>
                <a rel="nofollow" href="#" class="decrease-quantity" data-id='<%= item.id %>'>+</a>
              </span>
              </p>

              <p>总价: <span id='item-amount-<%= item.id %>'><%= item.amount %></span></p>

              <p>
                <a class="btn btn-default remove-cart-item" data-id="<%= item.id %>" href="#">
                删除
              </a>
              </p>
              <% end %>
            </td>
          </tr>
        </table>
        
            
        

      </div>
    <% end %>